.titleBlock{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    width: fit-content;
}

.titleContent{
    margin: 0 0;
    font-size: 1.5rem;
}

.greenBar{
    display: inline-block;
    width: 60px;
    height: 6px;
    background-color: var(--secondary-color);
    border-radius: 3px;
}

