.wrapper {
  --card-distance: 6rem;
  --card-distance-padding: 2rem;
  --year-margin: 2rem;
  --year-block-padding: 0.5rem;
  --year-font-size: 1.25rem;
  --year-border-thickness: 0.15rem;
  --card-line-thickness: 0.25rem;
  --card-line-tip-multiplier: 4;
  --padding-block: 0.5rem;
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 50%;
  grid-auto-rows: 50%;
  gap: 1rem;
  padding: var(--padding-block);
  overflow-x: auto;
  position: relative;
  isolation: isolate;
  --background-color: white;
  --text-color: #111;
}

.bar {
  position: absolute;
  left: 50%;
  top: calc(var(--padding-block) + var(--year-margin));
  transform: translateX(-50%);
  height: calc(100% - (var(--padding-block) * 2) - var(--year-margin) - var(--card-line-thickness));
  width: var(--card-line-thickness);
  background: var(--secondary-color);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: end;
}

.bar::after {
  content: '';
  position: absolute;
  height: auto;
  aspect-ratio: 1;
  width: 200%;
  bottom: calc(0px - var(--card-line-thickness));
  background: var(--secondary-color);
  border-radius: 50%;
  z-index: -1;
}

.leftSideItem, .rightSideItem {
  background: var(--background-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-color);
  filter: drop-shadow(0 0.25rem 0.25rem #000a);
  width: fit-content;
  grid-row: span 2;
  position: relative;
  height: fit-content;
  --connection-height: calc(var(--year-margin) + var(--year-border-thickness) + var(--year-block-padding) + (var(--year-font-size) / 1.4));
}

.year, .mobileYear {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--year-block-padding) 1rem;
  border-radius: 0.5rem;
  height: fit-content;
  margin-top: var(--year-margin);
  font-weight: bolder;
  font-size: var(--year-font-size);
  border: var(--year-border-thickness) solid var(--secondary-color);
  background: var(--background-color);
  color: var(--text-color);
}

.mobileYear {
  display: none;
}

.leftSideItem {
  margin-left: auto;
  margin-right: var(--card-distance);
}

.rightSideItem {
  margin-right: auto;
  margin-left: var(--card-distance);
}

.leftSideItem:before, .rightSideItem:before {
  content: '';
  width: calc(var(--card-distance) - var(--card-distance-padding));
  background: var(--secondary-color);
  height: var(--card-line-thickness);
  position: absolute;
  right: 0;
  transform: translateX(100%) translateY(-50%);
  top: var(--connection-height);
}

.leftSideItem:after, .rightSideItem:after {
  content: '';
  position: absolute;
  right: 0;
  transform: translateX(calc(100% + var(--card-distance) - var(--card-distance-padding))) translateY(-50%) rotate(45deg);
  top: var(--connection-height);
  aspect-ratio: 1;
  width: calc(var(--card-line-thickness) * var(--card-line-tip-multiplier));
  background: var(--secondary-color);
}

.rightSideItem:before {
  right: unset;
  left: 0;
  transform: translateX(-100%) translateY(-50%);
}

.rightSideItem:after {
  right: unset;
  left: 0;
  transform: translateX(calc(-100% - var(--card-distance) + var(--card-distance-padding))) translateY(-50%) rotate(45deg);
}

@media screen and (max-width: 800px) {
  .mobileYear {
    display: flex;
  }

  .year {
    display: none;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

  .leftSideItem:after, .leftSideItem:before, .rightSideItem:after, .rightSideItem:before {
    display: none;
  }

  .leftSideItem, .rightSideItem {
    margin-inline: auto;
  }
}