.text {
  margin-top: 8px;
  margin-bottom: 16px;
}

.container {
  width: 100%;
  padding-inline: 32px;
  padding-block: 32px;
}

@media (min-width: 1000px) {
  .container {
    padding-inline: 70px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-inline: 120px;
  }
}