.content {
  --max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr;
  justify-content: center;
  max-width: var(--max-width);
  margin-inline: auto;
  padding-block: 0.5rem;
  gap: 0.5rem;
  height: 100%;
}

.content > * {
  margin: 0 auto;
}

.subtitle {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  width: fit-content;
}