.wrapper {
  --max-width: 1440px;
  --blur-amount: 0px;

  width: 100%;
  min-height: 70svh;
  height: fit-content;
  position: relative;
  display: flex;
  isolation: isolate;
}

.container {
  width: 100%;
  height: fit-content;
  max-width: var(--max-width);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-inline: 8rem;
  margin: auto;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  scale: 1.1;
  object-fit: cover;
  mix-blend-mode: hard-light;
  filter: blur(var(--blur-amount));
}

.background:after {
  content: '';
  inset: 0;
  z-index: 1;
  background: var(--overlay);
  position: absolute;
}

.infoBox {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  filter: drop-shadow(0px 0px 0.5rem black);
}

.emptySpace {
  width: 50%;
}

.title {
  font-size: 3.5rem;
  font-weight: bolder;
  letter-spacing: -0.1rem;
  width: fit-content;
}

.content {
  border-left: 0.25rem solid var(--secondary-color);
  padding-left: 0.5rem;
  font-size: 1.15rem;
  width: 100%;
}