.imageDescription {
    display: inline-block;
    width: var(--image-width);
}

.image {
    max-width: 100%;
    height: auto;
    width: auto;
}

.description {
    width: 100%;
    margin: 0 0;
    display: flex;
    justify-content: center;
    font-size: small;
}

.source {
    text-align: center;
    font-size: small;
}