section {
    background-color: var(--secondary-background);
}

.banner {
    max-width: calc(1440px - (2 * var(--padding-size)));
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 6%;
}

.title {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 20px;
}

.leftBorder {
    background-color: var(--secondary-color);
    width: 5px;
}

.textBlock {
    width: auto;
}

.content {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    color: var(--secondary-text);

    border: 0;
    border-left: 5px;
    padding-left: 10px;
    border-style: solid;
    border-color: var(--secondary-color);
}

.picture {
    display: block;
    max-width: 100%;
    height: auto;
}

@media (max-width: 1280px) {
    .textBlock {
        width: 100%;
        margin-bottom: 20px;
    }

    .banner {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 600px) {
    section {
        padding: 8% 8%;
    }    
}