.container {
  border-top: 1px solid #d5d5d5;
  padding-top: 64px;
  display: flex;
  gap: 31px;
  margin-bottom: 70px;
  align-items: flex-start;
  flex-direction: row;
}

.inverted {
  flex-direction: row-reverse;
}

.textContent {
  padding-right: 160px;
  flex: 1;
}

.inverted .textContent {
  padding-left: 160px;
  padding-right: 0;
}

.imageWrapper {
  flex-shrink: 0;
}

.image {
  width: 130px;
  height: auto;
  object-fit: cover;
  margin: 0;
}

.imageMobile {
  display: none;
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  margin: 16px auto 0;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tag {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 14px;
}

.title {
  margin: 14px 0 10px;
  font-size: 24px;
  color: var(--secondary-text);
}

.author {
  font-style: italic;
  margin: 0 0 8px;
  font-size: 13px;
  color: var(--secondary-text);
}

.description {
  margin: 0 0 8px;
  font-size: 13px;
  color: var(--secondary-text);
  text-align: justify;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .imageWrapper {
    display: none;
  }

  .imageMobile {
    display: block;
    order: 2;
  }

  .textContent {
    padding: 0 !important;
    width: 100%;
    max-width: 600px;
  }

  .tags {
    justify-content: center;
  }
}

.linkTitle {
  color: inherit;
  text-decoration: none;
}

.linkTitle:hover {
  text-decoration: underline;
}
