.card {
  max-width: 80ch;
  display: flex;
  flex-direction: column;
  min-width: 20ch;
}

.title {
  font-weight: bolder;
  text-align: center;
  width: 100%;
}

.imageContainer {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
  border: 0;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #ccc;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-indent: 1rem;
}