:root{
  --padding-size: 16px;
}

.container {
  margin: 0 auto;
  padding: var(--padding-size);
  box-sizing: border-box;
}

.textArea {
  max-width: 80ch;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.author {
  margin-top: 1rem;
  font-style: italic;
  font-weight: 300;
  color: rgb(145, 145, 145);
  text-align: right;
}
