.footer {
  background-color: var(--secondary-color);
}

.footer>div {
  min-height: 67px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.loopis {
  font-size: 1rem;
  color: white;
}

.redessociais {
  display: flex;
}

.redessociais>img {
  width: 35px;
  height: 35px;
}

@media (min-width: 768px) {
  .footer>div {
    padding-block: 0px;

    flex-direction: row;
    justify-content: space-between;
  }

  .redessociais {
    gap: 12px;
  }
}