ul.referencesList {
    list-style: none;
    padding: 0;
    margin-left: 60px;
}


ul.referencesList li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
}


ul.referencesList li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 10px;
    height: 10px;
    background-color: green;
    transform: rotate(45deg);
}