.header {
  padding: 16px;
  background: #366F2B;
}



.links {
  list-style: none;
}


.header>div,
.links,
.head,
.linksActived {
  display: flex;
}

.linksDesactived {
  display: none;
}

.head {
  justify-content: space-between;
  align-items: center;
}

.header>div,
.links {
  flex-direction: column;
}

.toggle {
  display: block;
}

.item {
  color: var(--tertiary-color);
  height: auto;
  position: relative;
  text-decoration: none;
}

.item::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: transparent;
  transition: 0.3s 0s;
}

.item:hover::after {
  background-color: var(--secondary-color);
  width: 100%;
}


@media (min-width: 768px) {

  .header>div,
  .links {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .links {
    gap: 16px;
  }

  .toggle {
    display: none;
  }

  .linksDesactived {
    display: flex;
  }
}